{require_otp_vsn, "R14|R15B"}.

{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.

{erl_opts, [debug_info, fail_on_warning]}.

{sub_dirs, [
    "src/"
  ] }.

{eunit_opts, [{reset_after_eunit, false}, verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {xerllib, "0.1.0", {git, "git://github.com/jwthomp/xerllib.git", "HEAD"}},
    {luke, "0.2.*", {git, "git://github.com/basho/luke.git", "HEAD"}},
    {riak_core, "1.0.*", {git, "git://github.com/basho/riak_core.git", "HEAD"}}
]}.
